@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
* {
    font-family: "Raleway", sans-serif;
    margin:0px;
    padding:0px;
}
.navbar{
    background: #4572ee;
    text-align: center;
    .navbar-title{
        display: inline-block;
        margin:0px 20px;
        color: #fff;
        vertical-align: middle;
    }
    ul{
        display: inline-block;
        li.nav-item{
            list-style: none;
            display: inline-block;
            margin:10px 0px;
            .nav-link{
                text-decoration: none;
                font-weight: 600;
                color: #fff;
                padding:10px 15px;
                display: block;
                border-radius:20px;
                &.active{
                    background: #355bc2;
                }
            }
        }
    }
}
.container{
    margin:15px;
}
.task-form{
    text-align: center;
    label{
        display: block;
        font-weight: 500;
    }
    input,textarea,button{
        padding:10px;
        outline: none;
        border:1px solid #818181;
        min-width: 350px;
        margin:10px 0px;
        &::placeholder{
            color: #202020;
            font-weight: 500;
        }
    }
    textarea{resize: none}
    button.btn{
        padding:10px 15px;
        font-size:18px;
        min-width:auto;
        cursor: pointer;
        background: #4572ee;
        color: #fff;
        border: none;
        border-radius:20px;
        i{
            font-size:20px;
            vertical-align: middle;
        }
    }
}
.task {
    width: 350px;
    display: inline-block;
    margin: 5px;
    border: 1px solid #a8a8a8;
    padding: 15px;
    position: relative;
    .task-body {
        .task-title {
            color: #4572ee;
            margin:10px 0px;
        }
        .task-text {
            padding: 10px;
            background: #dadada;
            font-size:15px;
        }
        .btn {
            padding: 5px 15px;
            outline: none;
            border: none;
            color: #4572ee;
            font-size: 15px;
            position: absolute;
            top: 0px;
            right: 0px;
            font-size:18px;
            cursor: pointer;
        }
        .btn-edit {
            right: 35px;
        }
        .task-status {
            position: absolute;
            top: 0px;
        }
        .task-status{
            display: none;
        }
        .icon-status{
            position: absolute;
            top:-5px;
            left:-5px;
            cursor: pointer;
            .checkbox {
                width: 25px;
                height: 25px;
                background: #8b8b8b;
                display: block;
                position: relative;
                border-radius:50%;
                &::after {
                    content: "";
                    width: 5px;
                    height: 12px;
                    border: 2px solid #fff;
                    border-left: transparent;
                    border-top: transparent;
                    transform: rotate(45deg);
                    display: block;
                    position: absolute;
                    top: 15%;
                    right: 0px;
                    left: 0px;
                    margin: auto;
                }
            }
            &.checked{
                .checkbox{
                    background: #4572ee;
                }
            }
        }
    }
    &.task-finished{
        .task-body {
            .task-title {
                color: #818181;
                text-decoration: line-through;
            }
            .task-text {
                text-decoration: line-through;
            }
        }
    }
}
